body {
    .app {
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 2em;
        margin: auto;
        text-align: center;
        width: 25%;
    }

    background: #000;
}
